<ul>
  <li>
    <a href="signup">Signup</a>
  </li>
  <li>
    <a href="signin">Login</a>
  </li>
  <li>
    <a href="newgroup">New group</a>
  </li>
  <li>
    <a href="addquestion">Add question</a>
  </li>

</ul>