<div class="container">
  <p>Search time to eat for <span>XX</span></p>
  <h1>Results</h1>
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" data-src="holder.js/64x64"
             alt="64x64" style="width: 64px; height: 64px;"
             src=""
             data-holder-rendered="true">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>

      Cras sit amet nibh libero, in gravida nulla.
      Nulla vel metus scelerisque ante sollicitudin commodo.
      Cras purus odio, vestibulum in vulputate at,
      tempus viverra turpis.
      Fusce condimentum nunc ac nisi vulputate fringilla.
      Donec lacinia congue felis in faucibus.
    </div>
  </div>
</div>