<div class="container">
  <form action="">
    <p class="text-center">
      <span>X</span> has invited you and
      <span>6</span> other people for lunch
    </p>
    <h3 class="text-center">What type of food do you want to eat</h3>
    <br>
    <div class="food-type-box text-center">
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
      </label>
    </div>
    <hr>
    <h3 class="text-center">What is your budget</h3>
    <div class="budget-box text-center">
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
      </label>
    </div>
    <hr>
    <h3 class="text-center">Location</h3>
    <br>
    <div class="voting-location-box">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <br>
    <br>
    <div class="text-center">
      <input type="submit" class="btn btn-success" value="Submit your vote">
    </div>
  </form>
</div>