<div class="vote-result-container">
  <div class="container">
    <p class="text-center">You have voted</p>
    <h1 class="text-center">Current Voting Results (8 Votes)</h1>
    <br>
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center">Type of food</h3>
        <br>
        <div class="list-group-box">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">Budget</h3>
        <br>
        <div class="list-group-box">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="small-container text-center">
      <h4>Your group vote from the Following</h4>
      <br>
      <p>
        Type of food: <span><strong>steam boat</strong></span>
        <br>
        Budget: <span><strong>RM 10 - 20 / person</strong></span>
        <br>
        Location: <span><strong>Jayaa</strong></span>
      </p>
      <br>
      <button class="btn btn-lg btn-success">
        Searh for this result
      </button>
    </div>

  </div>
</div>
