// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_wrapper {
    height: 250px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}