<!-- < % @y.each do |x| %>
	<h4>< %= x[0] %></h4>
	<p>< %= x[1] %></p>
< % end %> -->

<!--
< % @y.map do |x| %>
	<h4>< %= x[0] %></h4>
	<p>< %= x[1] %></p>
< % end %>

loop through @y
gon.information =[
        ['<div class="info_content">' + '<h3>x[0]</h3>' +
         '<p>x[1]</p>'],
        ['etc']
    ];

        // Info Window Content
    var infoWindowContent = [
        ['<div class="info_content">' +
        '<h3>London Eye</h3>' +
        '<p>The London Eye is a giant Ferris wheel situated on the banks of the River Thames. The entire structure is 135 metres (443 ft) tall and the wheel has a diameter of 120 metres (394 ft).</p>' +        '</div>'],
        ['<div class="info_content">' +
        '<h3>Palace of Westminster</h3>' +
        '<p>The Palace of Westminster is the meeting place of the House of Commons and the House of Lords, the two houses of the Parliament of the United Kingdom. Commonly known as the Houses of Parliament after its tenants.</p>' +
        '</div>']
    ]; -->